.container-fluid
	div.buttons2
		div.btn-group
			a.btn.btn-large.btn-success(href='#') I need a mentor
		
		div.btn-group
			a.btn.btn-large.btn-success(href='#') I am a mentor
		
		div.btn-group
			a.btn.btn-large.btn-success(href='#') I am an organization