#footer
  .container-fluid
    .row
      div.col-md-3 
        ul.list-unstyled
          li 
            h4  About Us 
          li 
            a(href='#') Mission
          li Vision
          li Team
      div.col-md-3
        ul.list-unstyled
          li
            h4  Links 
          li Microsoft Research
          li Other Partners
      div.col-md-3
        ul.list-unstyled
          li
            h4  Contact Us
          li  Email
          li
            h4 Donate
      div.col-md-3
          //img(src='/img/stem-logo.png')