.container-fluid.jumbo
	.row
		a(href='/')
			.col-md-4.jumbo-image
		.col-md-8.text
			p.lead 
				| Connecting women interested in Science, Technology, Engineering & Mathematics through mentorship.

				div.buttons
					div.btn-group
						a.btn.btn-large.btn-success(href='#') I need a mentor
					div.btn-group
						a.btn.btn-large.btn-success(href='#') I am a mentor
					div.btn-group
						a.btn.btn-large.btn-success(href='#') I am an organization
		
		
		