extends layout
block content
  //include partials/buttons
  .container-fluid.buttons
    .row
      .col-md-4
        a(href='')
          .button
            | I 
            span.italic need
            | &nbsp;a&nbsp;
            span.bold mentor
      .col-md-4
        a(href='')
          .button
            | I 
            span.italic am
            | &nbsp;a&nbsp;
            span.bold mentor
      .col-md-4
        a(href='')
          .button
            | I am an 
            span.bold organisation
  .container-fluid.info
    .row
      .divisiontitle
        | Getting Started
    a(href='/mentors')
      .row.primarykey
        .col-md-3.col-md-offset-1.main
          img(src='../img/home1.png', alt='Find a mentor')
        .col-md-7.desc
          | Meet a mentor in your fields of interest to support you through your journey and interact with experts from your dream organisations.
    a(href='/forum')
      .row.primarykey
        .col-md-3.col-md-offset-1.main
          img(src='../img/home2.png', alt='Conversations')
        .col-md-7.desc
          | Ask questions and get relevant feedback from people from different STEM areas around the world.
    a(href='/meetup')
      .row.primarykey
        .col-md-3.col-md-offset-1.main
          img(src='../img/home3.png', alt='Meet up')
        .col-md-7.desc
          | Find gatherings in your local area to meet other women, share your story and be inspired.
    .secondary
      .divisiontitle
        | Other Resources
      .row
        .col-sm-6.col-md-4
          .thumbnail
            | Events
            img(src='../img/hackathon.jpg', alt='Hackathons')

        .col-sm-6.col-md-4
          .thumbnail
            | Testimonials 
            img(src='../img/testimonial.jpg', alt='Testimonials')
             
        .col-sm-6.col-md-4
          .thumbnail
            | Resources
            img.img-responsive(src='../img/icon_resources_white.jpg', alt='Resources')
      //
        .row
          .col-sm-6.col-md-4
            .thumbnail
              .legend Partners
              img(src='../img/logo_womeninict.jpg', alt='Partners')

          .col-sm-6.col-md-4
            .thumbnail
              .legend Collaboration
              img.img-responsive(src='../img/collab.jpg', alt='Collaboration')

          .col-sm-6.col-md-4
            .thumbnail
              .legend Opportunties
              img(src='../img/women.jpg', alt='Opportunties')
       