extends layout

block content
  include partials/buttons
  .container-fluid.info
    a(href='/mentors')
      .row
        .col-md-4.main Find a mentor
        .col-md-8.desc
          ul
            li Meet a mentor in your fields of interest to support you through your journey.
            li Interact with experts from your dream organisations.
    a(href='#')
      .row
        .col-md-4.main Conversations
        .col-md-8.desc
          ul
            li Ask questions and get relevant feedback from people from different STEM areas around the world.
    a(href='#')
      .row
        .col-md-4.main Meetup
        .col-md-8.desc
          ul
            li Find gatherings in your local area to meet other women, share your story and be inspired.
