extends layout

block content
  include partials/buttons
  .container-fluid.info
    a(href='/mentors')
      .row
        .col-md-4.one.main Find a mentor
        .col-md-8.desc
          ul
            li Meet a mentor in your fields of interest to support you through your journey.
            li Interact with experts from your dream organisations.
    a(href='/forum')
      .row
        .col-md-4.two.main Conversations
        .col-md-8.desc
          ul
            li Ask questions and get relevant feedback from people from different STEM areas around the world.
    a(href='#')
      .row
        .col-md-4.three.main Meetup
        .col-md-8.desc
          ul
            li Find gatherings in your local area to meet other women, share your story and be inspired.
    .encompass
      .photo
        img(src="../img/hackathon.jpg")
      .caption HACKATHON
    .encompass
      .photo
        img(src="../img/Collaboration_Network.png")
      .caption COLLABORATION
    .encompass
      .photo
        img(src="../img/icon_resources_white.jpg")
      .caption RESOURCES
    .encompass
      .photo
        img(src="../img/logo_womeninict.jpg")
      .caption PARTNERS
    .encompass
      .photo
        img(src="../img/testimonial.png")
      .caption TESTIMONIALS
    .encompass
      .photo
        img(src="../img/women.jpg")
      .caption OPPORTUNITIES
